@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Amaranth");
@import url("https://fonts.googleapis.com/css?family=Roboto:100|Rajdhani:300");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap");
html {
  height: 100%; }

body {
  font-family: 'Comfortaa', serif;
  font-weight: 300;
  letter-spacing: 2px;
  background: #fff; }

h1 {
  color: #2a3b43;
  font-size: 45px;
  letter-spacing: 10px;
  margin: 10px; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: 300; }

.App {
  text-align: center; }

.Title {
  font-style: italic;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  margin-top: 30px;
  width: 600px;
  padding: 5px 10px; }
  .Title h1:first-child {
    position: relative;
    text-align: left; }
  .Title h1:last-child {
    color: #B66100;
    position: relative;
    text-align: right; }
  .Title .cross_line {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #2A3B43;
    transform: skew(-35deg, 0deg);
    margin-left: 390px;
    margin-top: 15px; }

.Main {
  text-align: center;
  margin: auto;
  width: 750px;
  padding: 10px;
  min-height: 400px; }

.Tasks-box {
  text-align: left;
  display: inline-block;
  position: relative;
  width: 350px;
  padding-left: 40px;
  margin: 10px 0px 30px 0px; }

.Controller {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 100px;
  font-family: 'Rajdhani', monospace, sans-serif;
  color: #B66100;
  line-height: .5;
  text-align: center;
  width: 350px; }

.Analog {
  margin: 10px 50px 10px 50px; }

.btn {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  width: 100px;
  font-size: 18px;
  padding: 10px 0px; }

.start {
  color: #B66100;
  background-color: #E6F4F1;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #002740; }

.reset {
  color: #B66100;
  background-color: #E6F4F1;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #002740; }

.display {
  font-family: "Roboto", monospace;
  font-weight: 100; }

button {
  background: #FFF;
  border: none;
  color: #002740;
  cursor: url(/images/baseline_play_arrow_black_18dp.png), auto;
  padding: 0 0; }

button:hover {
  color: #618296; }

button:focus {
  outline: none; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }
