@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Amaranth");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap");
html {
  height: 100%; }

body {
  font-family: 'Roboto', serif;
  font-weight: 300;
  letter-spacing: 2px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  color: #2a3b43;
  font-size: 45px;
  letter-spacing: 20px;
  margin: 10px; }

h2 {
  font-weight: 400; }

h3 {
  font-weight: 300; }

.App {
  text-align: center; }

.Main {
  text-align: center;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(42, 59, 67, 0.164);
  margin: 2rem 0; }

.Title {
  font-family: 'Comfortaa', serif;
  font-style: italic;
  font-size: 45px;
  color: #2a3b43;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .Title span:first-child {
    position: relative; }
  .Title span:last-child {
    color: #B66100;
    position: relative;
    text-align: right;
    top: 30px; }
  .Title .cross_line {
    position: relative;
    width: 2px;
    height: 90px;
    background-color: #2A3B43;
    transform: skew(-35deg, 0deg); }

.Tasks-box {
  flex-grow: 1;
  text-align: left;
  display: inline-block;
  position: relative;
  padding: 2rem 0rem;
  background-color: #e4e4e4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.clock_container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column; }

.Controller {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto', monospace, sans-serif;
  color: #B66100;
  text-align: center;
  margin: 2rem 0rem 1rem 0rem; }

.Analog {
  margin: 0 2rem 2rem 2rem; }

.display {
  font-family: "Roboto", monospace;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 12px;
  text-align: center;
  padding-left: 1rem; }

.button_box {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .button_box .btn {
    display: inline;
    background: #FFF;
    border: none;
    color: #002740;
    cursor: url(/images/baseline_play_arrow_black_18dp.png), auto; }
    .button_box .btn:nth-child(2) {
      padding: 0 4rem; }
    .button_box .btn .material-icons {
      font-size: 32px !important; }

button:hover {
  color: #618296; }

button:focus {
  outline: none; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }
