@import url("https://fonts.googleapis.com/css?family=Muli");
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap');
@import "./colors.scss";
// $gunmetal: #22333b;
// $alabaster: #eae0d5;
// $eton-blue: #91c7b1;
// $amaranth-purple: #b33951;

* {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  font-family: 'Roboto', serif;
  font-weight: 300;
  letter-spacing: 2px;
  background: $background;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.title {
  font-family: 'Comfortaa', serif;
  font-style: italic;
  font-size: 30px;
  color: $alabaster;
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 375px;
  background: linear-gradient(0deg, #22333b, #2e434d);

  span:first-child {
    position: relative;
    margin-right: 1rem;
  }
  span:last-child {
    color: $eton-blue;
    position: relative;
    margin-left: 1rem;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 1rem 4rem;

  
  // .title {
  //   font-family: 'Comfortaa', serif;
  //   font-style: italic;
  //   font-size: 30px;
  //   color: $alabaster;
  //   margin-top: 1rem;
  //   padding: 0 1rem;
  //   text-align: left;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   min-width: 375px;
  
  //   span:first-child {
  //     position: relative;
  //   }
  //   span:last-child {
  //     color: $eton-blue;
  //     position: relative;
  //     text-align: right;
  //     top: 30px;
  //   }
  //   .cross-line {
  //     position: relative;
  //     width: 2px;
  //     height: 60px;
  //     background-color: $alabaster;
  //     transform: skew(-35deg, 0deg);
  //   }
  // }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // border-radius: 10px;
    background: $background;
    margin: 2rem 0;
    overflow: hidden;
    max-width: 900px;
  
    .clock-container {
      flex-grow: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 275px;
      background-color: $gunmetal;
      border-radius: 5px;
      margin-bottom: 1rem;
      // box-shadow: 2px 2px 5px $gunmetal;
    }
  
    .tasks-box {
      flex-grow: 1;
      text-align: left;
      display: inline-block;
      position: relative;
      padding: 0rem 0rem;
      // border-radius: 10px;
      min-width: 325px;
     }
  }

}






.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .btn {
    display: inline;
    border: none;
    color: $alabaster;
    cursor: url(/images/baseline_play_arrow_black_18dp.png), auto;

    &:hover {
      cursor: pointer;
      color: $eton-blue;
    }

    &:nth-child(2) {
      padding: 0 4rem;
    }

    .material-icons {
      font-size: 32px !important;
      
      &.active {
        color: $eton-blue;
      }
    }
  }
}


button:hover {
  color: $eton-blue;
}

button {
  color: $alabaster;
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
}