.clock {
  transform: scale(1);
  width: 200px;
  height: 200px;
  border: 1px solid rgb(126, 144, 153);
  border-radius: 50%;
  position: relative;
  margin: auto;
  // box-shadow: 4px 4px 3px rgb(126, 144, 153);

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
  }

  .clock__tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    transform-origin: bottom center;
    text-align: center;
    &.clock__tick--minutes {
      width: 1px;
      height: 50px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 70px solid #2A3B43;
      z-index: 2;
      transform: translate(-50%,-100%);
      overflow: hidden;
    }

    &.clock__tick--seconds {
      width: 1px;
      height: 85px;
      background: #B66100;
      z-index: 1;
      transform: translate(-50%,-100%);
      border-radius: 1px;
    }
  }
}

.end_marker {
        position: absolute;
        display: block;
        width: 0;
	      height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid rgb(126, 144, 153);
        text-align: center;
        top: 5px;
        left: 50%;
        transform-origin: top center;
        transform: translate(-50%, -50%);
      }

      .pp {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        text-align: center;
        transform-origin: bottom center;
        transform: translate(-50%, -50%);
      }

      .play {
        background-size: 50px;
        border-radius: 50%;
        border: .5px solid #002740;
        box-shadow: 2px 2px rgb(126, 144, 153);
        height: 40px;
        width: 40px;
        z-index: 3;
      }

      .pause {
        background-size: 50px;
        border-radius: 50%;
        box-shadow: 2px 2px rgb(126, 144, 153);
        height: 40px;
        width: 40px;
        z-index: 3;
      }

      .play:hover {
        background-size: 55px;
        height: 45px;
        width: 45px;
      }

      .pause:hover {
        background-size: 55px;
        height: 45px;
        width: 45px;
      }
