.task-list {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.tasks {
  display: flex;
  flex-direction: row;
  color: #2A3B43;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  // box-shadow: 4px 2px 5px #2A3B43;

  &.form {
    background-color: transparent;
    padding-left: 0px;
  }
}

.taskName {
  display: flex;
  vertical-align: top;
  margin: 10px 0;
}
.form-task {
  margin-right: 0;
}

.submit {
  border: .5px solid rgba(42, 59, 67, 0.164);
  border-radius: 0px;
  font-size: 24px;
  // box-shadow: 2px 2px 2px rgb(0, 0, 0);
  width: 60px;
  height: 60px;
  
  .material-icons {
    font-size: 18px;
  }
}

.task-button-box {
  position: relative;
  display: flex;
  width: 120px;
  animation-duration: .5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    right: -120px;
  }

  to {
    right:0;
  }
}

.task-button {
  position: relative;
  border: none;
  font-size: 24px;
  height: 60px;
  width: 60px;

  &.delete {
    background-color: rgb(182, 58, 0);
  }
  &.complete {
    background-color: rgb(80, 131, 80);
  }
  &:hover {
    border: .5px solid rgba(42, 59, 67, 0.164);
    color: white;
  }
}
label {
  width: 100%;
}

.addInput {
  position: relative;
  color: #B66100;
  background-color: #fff;
  border: .5px solid rgba(42, 59, 67, 0.164);
  border-radius: 10px;
  // border-color: #2A3B43;
  // border-style: solid;
  padding: 1rem 1rem;
  margin-right: 1rem;
  font-size: 18px;
  font-weight: 300;
 }

input:focus {
  outline: none; }

.task-display {
  color: #2A3B43;
   }
