.task-list {
  display: flex;
  flex-direction: column;
}

.tasks {
  display: flex;
  flex-direction: row;
  color: #2A3B43;
  padding: 5px 0px 5px 10px;
  margin-bottom: 5px;
  font-size: 18px;
  width: 450px;
  justify-content: space-between;
  // box-shadow: 4px 2px 5px #2A3B43;
}

.taskName {
  display: inline;
  vertical-align: top;
  line-height: 40px;
  overflow-wrap: break-word;
}

.submit {
  border: .5px solid rgba(42, 59, 67, 0.164);
  border-radius: 100px;
  font-size: 18px;
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 2px rgb(126, 144, 153);

  .material-icons {
    font-size: 18px;
  }
}

.delete {
  display: inline;
  position: relative;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  height: 50px;
  width: 50px;

  &:hover {
    border: .5px solid rgba(42, 59, 67, 0.164);
  }
}
label {
  width: 100%;
}

.addInput {
  color: #B66100;
  background-color: #fff;
  border: .5px solid rgba(42, 59, 67, 0.164);
  border-radius: 10px;
  // border-color: #2A3B43;
  // border-style: solid;
  width: 90%;
  padding: 1rem 1rem;
  margin-right: 2rem;
  font-size: 18px;
  font-weight: 300;
 }

input:focus {
  outline: none; }

.task-display {
  color: #2A3B43;
   }
