.clock {
  transform: scale(0.8);
  width: 200px;
  height: 200px;
  background: #E2F6FF;
  border: 3px solid #2A3B43;
  border-radius: 50%;
  position: relative;
  margin: auto;
  box-shadow: -3px -3px #2A3B43;

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
  }

  .clock__tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    transform-origin: bottom center;
    text-align: center;
    &.clock__tick--minutes {
      width: 2px;
      height: 50px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 60px solid #2A3B43;
      z-index: 2;
      transform: translate(-50%,-100%);
      overflow: hidden;
    }

    &.clock__tick--seconds {
      width: 3px;
      height: 85px;
      background: #B66100;
      z-index: 1;
      transform: translate(-50%,-100%);
      border-radius: 1px;
    }
  }
}

.end_marker {
        position: absolute;
        display: block;
        width: 0;
	      height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 18px solid #2A3B43;
        text-align: center;
        top: 4px;
        left: 50%;
        transform-origin: top center;
        transform: translate(-50%, -50%);
      }

      .pp {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        text-align: center;
        transform-origin: bottom center;
        transform: translate(-50%, -50%);
      }

      .play {
        background: url(/images/round_play_circle_filled_black_18dp.png) no-repeat center;
        background-size: 50px;
        background-color: #E6F4F1;
        border-radius: 50%;
        box-shadow: 2px 2px #2A3B43;
        height: 40px;
        width: 40px;
        z-index: 3;
        }

      .pause {
        background: url(/images/round_pause_circle_filled_black_18dp.png) no-repeat center;
        background-size: 50px;
        background-color: #E6F4F1;
        border-radius: 50%;
        box-shadow: 2px 2px #2A3B43;
        height: 40px;
        width: 40px;
        z-index: 3;
        }

      .play:hover {
        background-size: 55px;
        height: 45px;
        width: 45px;
      }

      .pause:hover {
        background-size: 55px;
        height: 45px;
        width: 45px;
      }
