@import url("https://fonts.googleapis.com/css?family=Muli");
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Roboto:100|Rajdhani:300');
html {
    height: 100%;
}

body {
  font-family: 'Rajdhani', serif;
  font-weight: 300;
  letter-spacing: 2px;
  background: #fff;
 }

h1 {
  color: #B66100;
  font-size: 40px;
  letter-spacing: 4px;
  margin: 10px;
}

h2 {
  font-weight: 300; }

h3 {
  font-weight: 300; }

.App {
  text-align: center;
}

.Title {
  background-color: #2A3B43;
  border: solid 2px #2A3B43;
  box-shadow: 2px 2px 5px #AFDDF1;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 750px;
  padding: 5px 10px;
}

.Main {
  background: linear-gradient(0deg, #E2F6FF, #E2F6FF, #E2F6FF, #E2F6FF, #AFDDF1);
  box-shadow: 2px 2px 5px #AFDDF1;
  border: solid 2px #2A3B43;
  text-align: center;
  margin: auto;
  width: 750px;
  padding: 10px;
  min-height: 400px;
}

.Tasks-box {
  text-align: left;
  display: inline-block;
  position: relative;
  width: 350px;
  padding-left: 40px;
  margin: 10px 0px 30px 0px;
 }

.Controller {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 100px;
  font-family: 'Rajdhani', monospace, sans-serif;
  color: #B66100;
  line-height: .5;
  text-align: center;
  width: 350px;
 }

.Analog {
  margin: 10px 50px 10px 50px; }

.btn {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  width: 100px;
  font-size: 18px;
  padding: 10px 0px; }

.start {
  color: #B66100;
  background-color: #E6F4F1;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #002740;
  }

.reset {
  color: #B66100;
  background-color: #E6F4F1;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #002740;
  }

.display {
  font-family: "Roboto", monospace;
  font-weight: 100;
}

button {
  background: none;
  border: none;
  cursor: url(/images/baseline_play_arrow_black_18dp.png), auto;
  color: #B66100;
  padding: 0 0;
  }

button:hover {
  color: #AFDDF1;
  }

button:focus {
  outline: none;
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
