@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  background-color: #fff; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: 300; }

.App {
  text-align: center;
}

.Main {
  text-align: center;
  margin: auto;
  width: 800px;
  padding: 40px;
  height: 100%;
}

.Nav {
  text-align: right;
  display: inline-block;
  position: relative;
  width: 350px;
  max-height: 500px;
 }

.Controller {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 100px;
  color: #000;
  line-height: .5;
  text-align: center;
  width: 350px;
 }

.Analog {
  margin: 50px 50px 10px 50px; }

.btn {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  width: 100px;
  font-size: 18px;
  padding: 10px 0px; }

.start {
  background-color: #fff;
  width: 300px;
  font-size: 30px;
  }

.reset {
  color: #cc6666;
  background-color: #fff;
  width: 200px;
  font-size: 18px;
  }

.display {

}

button {
  border: none;
  cursor: url(/images/baseline_play_arrow_black_18dp.png), auto;
  color: #000;
  padding: 0 0;
  }

button:hover {
  color: #999999;
  }

button:focus {
  border: none;
  outline: none;
  }
