@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Amaranth");
html {
  height: 100%; }

body {
  font-family: 'Amaranth', serif;
  font-weight: 300;
  letter-spacing: 2px;
  background: linear-gradient(-45deg, #F6D940, #E6F4F1, #E6F4F1, #479F91); }

h1 {
  font-size: 40px;
  letter-spacing: 4px;
  background: -webkit-linear-gradient(45deg, #E6F4F1, #F6D940);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: 300; }

.App {
  text-align: center; }

.Title {
  background-color: #002740;
  box-shadow: 2px 2px 10px #3A7F9E;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 750px;
  padding: 5px 10px;
  border-radius: 20px 20px 0px 0px; }

.Main {
  background: linear-gradient(0deg, #3A7F9E, #3A7F9E, #3A7F9E, #3A7F9E, #176684);
  box-shadow: 2px 2px 10px #3A7F9E;
  text-align: center;
  margin: auto;
  width: 750px;
  padding: 10px;
  min-height: 400px;
  border-radius: 0px 0px 20px 20px; }

.Tasks-box {
  text-align: left;
  display: inline-block;
  position: relative;
  width: 350px;
  padding-left: 40px;
  margin: 10px 0px 30px 0px; }

.Controller {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 100px;
  font-family: 'Muli', sans-serif;
  color: #E6F4F1;
  line-height: .5;
  text-align: center;
  width: 350px; }

.Analog {
  margin: 10px 50px 10px 50px; }

.btn {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  width: 100px;
  font-size: 18px;
  padding: 10px 0px; }

.start {
  color: #479F91;
  background-color: #E6F4F1;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #002740; }

.reset {
  color: #479F91;
  background-color: #E6F4F1;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #002740; }

button {
  background: none;
  border: none;
  cursor: url(/images/baseline_play_arrow_black_18dp.png), auto;
  color: #479F91;
  padding: 0 0; }

button:hover {
  color: #002740; }

button:focus {
  outline: none; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }
