@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  background-color: #fff; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: 300; }

.App {
  width: 100%; }

.Nav {
  position: absolute;
  left: 0px;
  width: 350px;
  height: 100%;
  padding: 20px; }

.Main {
  position: absolute;
  right: 0px;
  left: 350px;
  padding-top: 50%;
  min-width: 500px; }

.Controller {
  font-size: 100px;
  color: #000;
  line-height: .5;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 430px; }

.Analog {
  margin: 50px 50px 10px 50px; }

.btn {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  width: 100px;
  font-size: 18px;
  padding: 10px 0px; }

.start {
  background-color: #fff;
  width: 300px;
  font-size: 30px;
  }

.reset {
  color: #cc6666;
  background-color: #fff;
  width: 200px;
  font-size: 18px;
  }

.display {

}

button {
  border: none;
  cursor: url(/images/baseline_play_arrow_black_18dp.png), auto;
  color: #000;
  }

button:hover {
  color: #999999;
  }

button:focus {
  border: none;
  outline: none;
  }
