@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  background-color: #fff; }

h2 {
  font-weight: 300; }

h3 {
  font-weight: 300; }

.App {
  text-align: center;
}

.Main {
  text-align: center;
  margin: auto;
  width: 800px;
  padding: 40px;
  height: 100%;
}

.Nav {
  text-align: left;
  display: inline-block;
  position: relative;
  width: 350px;
  max-height: 500px;
  padding-left: 40px;
  border-left: 1px solid #000;
 }

.Controller {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 100px;
  color: #000;
  line-height: .5;
  text-align: center;
  width: 350px;
 }

.Analog {
  margin: 50px 50px 10px 50px; }

.btn {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  width: 100px;
  font-size: 18px;
  padding: 10px 0px; }

.start {
  background-color: #fff;
  width: 300px;
  font-size: 30px;
  }

.reset {
  color: #cc6666;
  background-color: #fff;
  width: 100px;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid #ccc;
  }

.display {

}

button {
  border: none;
  cursor: url(/images/baseline_play_arrow_black_18dp.png), auto;
  color: #000;
  padding: 0 0;
  }

button:hover {
  background-color: #f2f2f2;
  }

button:focus {
  outline: none;
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
